#contacta{
    color: #f05c8f;
}
form{
    color: white;
    font-size: 20px;
}
form .row{
    width: 60%;
}
form input[type='text'], form input[type='email'],form textarea{
    margin-left: 3%;
    border-radius: 5px;
    font-size: 16px;
}
form input[type='submit']{
    border: 0px;
    color: white;
    padding: 1%;
    border-radius: 15px;
    background-color: #e75e8d;
}